html {
    background-color: #060709;
    font-family: 'Geist', sans-serif;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 0.7rem;
}

footer {
    color: #7d7d7f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer span {
    font-size: 0.8rem;
    text-align: center;
}

.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.footer-title {
    color: #7d7d7f;
}

.movie-card {
    background-color: #0e1011;
    border: 1px solid #232426;
    border-radius: 12px;
    margin: 1rem;
    min-width: 11rem;
    width: 20%;
    max-width: 20rem;
    overflow: hidden;
}

.movie-card h2 {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1rem;
    color: white;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

#hero {
    padding: 2rem;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(25px) brightness(0.5);
    overflow: hidden;
    align-items: center;
}

.hero-background {
    position: absolute;
    inset: -50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black 20%, transparent 95%), var(--bg-image);
    background-size: cover;
    background-position: center;
    filter: blur(30px) brightness(0.4); 
    transform: scale(1.3);
    z-index: -1; 
}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.hero-image {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    height: auto;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    align-items: center;
}


.hero-info h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

.trending-tag {
    font-weight: 500;
    background-color: #e97c48;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    display: inline-block;
}

.hero-description {
    line-height: 1.6;
    color: grey;
}

.hero-movie-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.4rem;
    color: grey;
}

.rating {
    color: #e97c48;
    font-weight: 800;
}

.genre {
    border: 0.8px solid grey;
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
    margin: 0.1rem;
}

.button-trailer {
    color: black;
    text-decoration: none;
    font-weight: 500;
    background-color: #e97c48;
    padding: 0.8rem;
    border-radius: 12px;
    display: inline-block;
}

.filters-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.filter-select {
    border: 1px solid #232426;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color:#1A1B1D;
    color: white;
}

.filter-select option:hover {
    background-color: #232426;
}

@media screen and (min-width: 1024px) {
    #hero {
        justify-content: flex-start;
        padding-left: 10%;
    }

    .hero-content {
        justify-content: flex-start;
        gap: 4rem;
        max-width: 1400px;
    }

    .hero-image{
        max-width: 400px;
    }

    .hero-info {
        align-items: flex-start;
        max-width: 800px;
    }

    .hero-description {
        text-align: start;
        font-size: 1.2rem;
    }

    .hero-info h1 {
        font-size: 4rem; 
        text-align: left;
    }

    .hero-movie-details {
        gap: 1.5rem;
        justify-content: flex-start;
    }

    footer {
        display: flex;
        flex-direction: row;
        margin: 1rem;
    }

    .filters-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

.movie-card img {
    width: 100%;
}

.movie-card span {
    font-size: 0.8rem;
    color: #7d7d7f;
}

.movie-card-release-date {
    padding-left: 0.3rem;
}
.content-area {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.genre-labels {
    display: flex;
    flex-wrap: wrap;
}

.genre-label {
    border: 1px solid #232426;
    border-radius: 12px;
    color: #7d7d7f;
    background-color: #0e0f11;
    padding: 0.3rem;
    margin: 0.3rem;
}

.movie-card-image-container {
    position: relative;
}

.movie-rating-tag {
    position: absolute;
    right: 0;
    border: 1px solid #232426;
    border-radius: 12px;
    font-weight: 600;
    font-size: 0.8rem;
    color: #E57C46;
    background-color: #0F0C10;
    padding: 0.3rem;
    margin: 0.3rem;
}

.page-change-button {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    border: none;
    background-color: #060709;
    cursor: pointer;
}

.page-change-button[disabled] {
    cursor: default;
    color: #7d7d7f;
    font-size: 0.9rem;
    text-decoration: none;
    border: none;
    background-color: #060709;
}

.page-selector {
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    font-size: 0.9rem;
    color: white;
    display: flex;
    align-self: center;
}

.selector-selected {
    border: 2px solid #222325;
    border-radius: 5px;
}

.fallback-message {
    color: #7d7d7f;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
}