html {
    background-color: #232426;
    font-family: 'Geist', sans-serif;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 0.7rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span {
    color: white;
}

.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#hero {
    padding: 2rem;
    display: flex;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.hero-image {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    height: auto;
}