html {
    background-color: #060709;
    font-family: 'Geist', sans-serif;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 0.7rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span {
    color: white;
}

.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.movie-card {
    background-color: #0E1011;
    border: 1px solid #232426;
    border-radius: 12px;
    margin: 1rem;
    width: 11rem;
}

.movie-card h2{
    padding-left: 0.3rem;
    font-size: 1rem; 
    color: white;
}

#hero {
    padding: 2rem;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(25px) brightness(0.5);
    overflow: hidden;
    align-items: center;
}

.hero-background {
    position: absolute;
    inset: -50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black 20%, transparent 95%), var(--bg-image);
    background-size: cover;
    background-position: center;
    filter: blur(30px) brightness(0.4); 
    transform: scale(1.3);
    z-index: -1; 
}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.hero-image {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    height: auto;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    align-items: center;
}


.hero-info h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

.trending-tag {
    font-weight: 500;
    background-color: #e97c48;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    display: inline-block;
}

.hero-description {
    line-height: 1.6;
    color: grey;
}

.heroMovieDetails {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.4rem;
    color: grey;
}

.rating {
    color: #e97c48;
    font-weight: 800;
}

.genre {
    border: 0.8px solid grey;
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
    margin: 0.1rem;
}

.button-trailer {
    color: black;
    text-decoration: none;
    font-weight: 500;
    background-color: #e97c48;
    padding: 0.8rem;
    border-radius: 12px;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    #hero {
        justify-content: flex-start;
        padding-left: 10%;
    }

    .hero-content {
        justify-content: flex-start;
        gap: 4rem;
        max-width: 1400px;
    }

    .hero-image{
        max-width: 400px;
    }

    .hero-info {
        align-items: flex-start;
        max-width: 800px;
    }

    .hero-description {
        text-align: start;
        font-size: 1.2rem;
    }

    .hero-info h1 {
        font-size: 4rem; 
        text-align: left;
    }

    .details {
        gap: 1.5rem;
        justify-content: flex-start;
    }
}

.movie-card img {
    width: 100%;
}

.movie-card span {
    font-size: 0.8rem;
    color: #7D7D7F;
}

.movie-card-release-date {
    padding-left: 0.3rem;
    
}
.content-area {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.page-selector{
    display: flex;
    align-self: center;
}

.genre-labels {
    display: flex;
    flex-wrap: wrap;
}

.genre-label {
    border: 1px solid #232426;
    border-radius: 12px;
    color: #7D7D7F;
    background-color: #0E0F11;
    padding: 0.3rem;
    margin: 0.3rem;
}