html {
    background-color: #232426;
    font-family: 'Geist', sans-serif;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 0.7rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span {
    color: white;
}

.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#hero {
    padding: 2rem;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    align-items: center;
}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.hero-image {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    height: auto;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    align-items: center;
}


.hero-info h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

.trending-tag {
    font-weight: 500;
    background-color: #e97c48;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    display: inline-block;
}

.hero-description {
    line-height: 1.6;
    color: grey;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.4rem;
    color: grey;
}

.rating {
    color: #e97c48;
    font-weight: 800;
}

.genres {
    border: 0.8px solid grey;
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
}

.button-trailer {
    color: black;
    text-decoration: none;
    font-weight: 500;
    background-color: #e97c48;
    padding: 0.8rem;
    border-radius: 12px;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    #hero {
        justify-content: flex-start;
        padding-left: 10%;
    }

    .hero-content {
        justify-content: flex-start;
        gap: 4rem;
        max-width: 1400px;
    }

    .hero-image{
        max-width: 400px;
    }

    .hero-info {
        align-items: flex-start;
        max-width: 800px;
    }

    .hero-description {
        text-align: start;
        font-size: 1.2rem;
    }

    .hero-info h1 {
        font-size: 4rem; 
        text-align: left;
    }

    .details {
        gap: 1.5rem;
        justify-content: flex-start;
    }
}