html {
    background-color: #232426;
    font-family: 'Geist', sans-serif;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 0.7rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span {
    color: white;
}

.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#hero {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.hero-image {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    height: auto;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    align-items: center;
}


.hero-info h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0;
}

.trending-tag {
    font-weight: 500;
    background-color: #e97c48;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    display: inline-block;
}

.hero-description {
    line-height: 1.6;
    color: grey;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.4rem;
    color: grey;
}

.rating {
    color: #e97c48;
    font-weight: 800;
}

.genre {
    border: 0.8px solid grey;
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
}